## Python problem solving 
**Assignment 1**

# Program 1

### Q1. To write a python program to find data types of a numbers.

In [1]:
a = 3
print(a, 'is of type', type(a))

b = 3.55
print(b, 'is of type', type(b))

c = 2 + 434j
print(c, 'is of type', type(c))

3 is of type <class 'int'>
3.55 is of type <class 'float'>
(2+434j) is of type <class 'complex'>

### Q2. Write a program to perform different arithmatic operations on numbers.

In [2]:
num1 = int(input('Enter first number :'))
num2 = int(input('Enter second number :'))
add = num1+num2
dif = num1-num2
mul = num1*num2
div = num1/num2
floor_div = num1//num2
power = num1**num2
modulus = num1%num2

print('Sum of', num1, 'and', num2, 'is : ', add)
print('Difference of', num1, 'and', num2, 'is : ', dif)
print('Product of', num1, 'and', num2, 'is : ', mul)
print('Division of', num1, 'and', num2, 'is : ', div)
print('Floor Division of', num1, 'and', num2, 'is : ',floor_div)
print('Exponent of', num1, 'and', num2, 'is : ', power)
print('Modulus of', num1, 'and', num2, 'is : ', modulus)

Enter first number :5
Enter second number :6
Sum of 5 and 6 is :  11
Difference of 5 and 6 is :  -1
Product of 5 and 6 is :  30
Division of 5 and 6 is :  0.8333333333333334
Floor Division of 5 and 6 is :  0
Exponent of 5 and 6 is :  15625
Modulus of 5 and 6 is :  5

### Q3. To write a program to create, concatenate and print a string and accessing sub-string from given string.

In [3]:
my_string = "I'm Aish"
print(my_string)

my_string1 = """Are you fine or not.
should i call doctor to check you."""
print(my_string1)

print('concatenated = ',my_string + my_string1)
print('multiplying = ', my_string*2)

print('first character of string', my_string[0])
print('last character of string', my_string[-1])
print('characters from 3 to 9', my_string[3:10])
print('characters from 6 to 2', my_string[6:-2])

I'm Aish
Are you fine or not.
should i call doctor to check you.
concatenated =  I'm AishAre you fine or not.
should i call doctor to check you.
multiplying =  I'm AishI'm Aish
first character of string I
last character of string h
characters from 3 to 9  Aish
characters from 6 to 2

### Q4. Write a program to print out the date and time

In [4]:
import time
localtime = time.asctime(time.localtime(time.time()))
print('The current time = ', localtime)

The current time =  Tue Jun  7 20:50:32 2022

### Q5. To write a python program to create, append and remove lists.

In [6]:
l1 = ['my', 'name', 'is', 'Aish']
l2 = [2,3,4,5]

for i in l1:
    print(i)
    
l3 = l1+l2
print(l3)

index = input('Enter index no.')
index = int(index)
del l2[index]
print(l2)

my
name
is
Aish
['my', 'name', 'is', 'Aish', 2, 3, 4, 5]
Enter index no.2
[2, 3, 5]

### Q6. Tuple handling in python.

In [7]:
my_tuple = ('second', 'first', 3, 'going to be', 1)
print(my_tuple)

for i in my_tuple:
    print(i)

('second', 'first', 3, 'going to be', 1)
second
first
3
going to be
1

### Q7. Write a program to create, change the elements, access the elements and to delete or remove element from the dictionary.

In [8]:
dict1 = {'1':'Aish', '2': 'Gouri'}
dict1
dict1['1']
print(dict1['1'])
for k, v in dict1.items():
    print(k,v)
    
    
dict1['3'] = 'Mansi'
print(dict1)
dict1['1'] = 'Aishwarya'
print(dict1)
# dict1.remove('3')
# dict1
del dict1['2']
print(dict1)
dict1.pop('1')
print(dict1)
dict1.clear()
print(dict1)

Aish
1 Aish
2 Gouri
{'1': 'Aish', '2': 'Gouri', '3': 'Mansi'}
{'1': 'Aishwarya', '2': 'Gouri', '3': 'Mansi'}
{'1': 'Aishwarya', '3': 'Mansi'}
{'3': 'Mansi'}
{}

### Q8. To write a program for finding largest number from the given three numbers.

In [9]:
num1 = int(input('Give the first number :'))
num2 = int(input('Give the second number :'))
num3 = int(input('Give the third number :'))
lst = list([num1, num2, num3])
lst = sorted(lst)
print('The largest number from the given numbers is :',lst[-1])

Give the first number :5
Give the second number :5
Give the third number :74
The largest number from the given numbers is : 74

### Q9. To write a program to convert the given temperature Celsius to Fahrenheit.

In [10]:
Temp = float(input('give the temperature :'))
#now convert the given temperature into Fahrenheit
Fahrenheit = (Temp* 1.8)+32
print(f'The {Temp} degree celcius is equal to {Fahrenheit} Fahrenheit' )

give the temperature :55
The 55.0 degree celcius is equal to 131.0 Fahrenheit

### Q10. Writing a programme to construct a diamond shape using for loop.

In [11]:
j = 7
k = 7
p = 1

for i in range(8):
    print(" "*k,"#"*i)
    k -= 1
while j > 1:
    j -= 1
    print(" "*p, "#"*j)
    p += 1
    continue
i = 1 
j = 7

for i in range(7):
    print('#' * i)
    i += 1
while j > 0:
    print('#' * j)
    j -= 1

       #
      ##
     ###
    ####
   #####
  ######
 #######
  ######
   #####
    ####
     ###
      ##
       #

#
##
###
####
#####
######
#######
######
#####
####
###
##
#

### Q11. To write a code to find prime numbers from less than 20.

In [12]:
starting_value = 1
n = int(input('Enter the number :'))
print('Prime numbers between ', starting_value, 'and', n, 'are:')
for num in range(starting_value, n+1):
    if num>1:
        for i in range(2, int(num/2)+1):
            if (num%i) == 0:
                break
        else:
            print(num)

Enter the number :6
Prime numbers between  1 and 6 are:
2
3
5

### Q12. Using Recursion method find the factorial of a given number.

In [13]:
def recur_factorial(n):
    """Function to return the factorial of a number using recursion"""
    if n == 1:
        return n
    else:
        return n*recur_factorial(n-1)
    
# change this value for a different result
# num = 7

# uncomment to take input from the user
num = int(input('Enter a number :'))

# check if the number is negative
if num < 0:
    print('Sorry, factorial does not exist for negative numbers')
elif num == 0:
    print('The factorial of 0 is 1')
else:
    print('The factorial of', num, 'is', recur_factorial(num))

Enter a number :8
The factorial of 8 is 40320

### Q13. By using length of 3 sides of triangle decide which triangle it is.

In [14]:
print('Input length of the triangle sides :')
x = int(input('x : '))
y = int(input('y : '))
z = int(input('z : '))

if x == y == z:
    print('Equilateral triangle')
elif x == y or y == z or z == x:
    print('Isosceles triangle')
else:
    print('Scalene triangle')

Input length of the triangle sides :
x : 8
y : 1
z : 2
Scalene triangle

###  Q14. To write a program to find Fibonacci numbers.

In [15]:
def fib(n):  # Fibonacci series up to n
    a,b = 0, 1
    while a < n:
        print(a, end = ' ')
        a, b = b, a+b
    print()
    
def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [16]:
fib(10)

0 1 1 2 3 5 8

In [17]:
fib2(10)

[0, 1, 1, 2, 3, 5, 8]

### Q15. To write a program to define a module and import a specific function in that module to another program.

In [18]:
def add(a,b):
    """"This program adds two 
    numbers and return the result"""
    
    result = a+b
    return result

In [19]:
add(2,3.23)

5.23

In [20]:
# Import Statement exaples

import math

print('the value of pi is ', math.pi)

the value of pi is  3.141592653589793

### Q16. To write a python program to copy a content of one file into second one.

In [21]:
text_file = open('C:\\Users\\HP\python\\Feedbacks\\Negative\\N5.txt', 'r')
print(text_file)

<_io.TextIOWrapper name='C:\\Users\\HP\\python\\Feedbacks\\Negative\\N5.txt' mode='r' encoding='cp1252'>

In [22]:
# To read, write file with python

# open the file
text_file = open('C:\\Users\\HP\python\\Feedbacks\\Negative\\N5.txt', 'r')

# get the list of lines
line_list = text_file.readlines();

# for each line from the list, print the line
for line in line_list:
    print(line)

text_file.close() # don't forget to close the file

Not going to attend this type of lectures again in my life.

In [24]:
# to write the content of opend file to another one

# open the file
text_file = open('C:\\Users\\HP\python\\Feedbacks\\Negative\\N5.txt', 'w')

#initialize an empty list
word_list = []

# iterate 4 times
for i in range(1,5):
    print('Please enter data:\n')
    line = input() # take input
    word_list.append(line)# append to the list
          
text_file.writelines(word_list) # write 4 words to the file
          
text_file.close() # don't forget to close the opened file

Please enter data:

ok then
Please enter data:

what's going on
Please enter data:

i know it's the worst
Please enter data:

but still stay calm

In [25]:
print(text_file)

<_io.TextIOWrapper name='C:\\Users\\HP\\python\\Feedbacks\\Negative\\N5.txt' mode='w' encoding='cp1252'>

In [26]:
# copy file from one to second

import shutil
shutil.copy2('C:\\Users\\HP\python\\Feedbacks\\Negative\\N1.txt','C:\\Users\\HP\python\\Feedbacks\\Negative\\N2.txt')

'C:\\Users\\HP\\python\\Feedbacks\\Negative\\N2.txt'

In [27]:
# another way to copy the content of file

shutil.copyfile('C:\\Users\\HP\python\\Feedbacks\\Negative\\N3.txt','C:\\Users\\HP\python\\Feedbacks\\Negative\\N4.txt')
print('File done')

File done

### Q17. To write a program to print out the unique words in a file and arrange it in alphabetical order.

In [28]:
#change this value for a different result
my_str = 'Hello this Is an Examle With cased letters'

# uncomment to take input from the user
# my_str = input('Enter the string :')

# breakdown the string into a list of words
words = my_str.split()

# sort the list
words.sort()

# display the sorted words
print('The sorted words are :')
for word in words:
    print(word)

The sorted words are :
Examle
Hello
Is
With
an
cased
letters
this

### Q18. To write a program using class for converting integer number to roman number

In [29]:
class py_solution:
    def roman_to_int(self, s):
        rom_val = {'I':1, 'V':5, 'X':10, 'L':50, 'C':100, 'D':500, 'M':1000}
        int_val = 0
        for i in range(len(s)):
            if i>0 and rom_val[s[i]]>rom_val[s[i-1]]:
                int_val += rom_val[s[i]] - 2*rom_val[s[i-1]]
            else:
                int_val += rom_val[s[i]]
            return int_val
print(py_solution().roman_to_int('MMMCMLXXXVI'))
print(py_solution().roman_to_int('MMMM'))
print(py_solution().roman_to_int('C'))

1000
1000
100

### Q19. Write a program to implement pow(x,n)

In [30]:
# function to calculate x
# raised to the power y

def power(x,y):
    if (y == 0):
        return 1
    elif (int(y % 2) == 0):
        return (power(x, int(y/2))* power(x, int(y/2)))
    else:
        return(x * power(x,int(y/2)) * power(x, int(y/2)))

In [31]:
x = 2; y = 3
print(power(x,y))

8

### Q20. To write a program using class to reverse a string a word by word.

In [32]:
class py_solution:
    def reverse_words(self, s):
        return ''.join(reversed(s.split()))

In [33]:
print(py_solution().reverse_words("hello .py"))

.pyhello

# Python problem solving 
**Assignment 2**

## Program 1

### Q1. To create a list and performing various operations on it.
operations :-
    1. insert()- it is used for inserting a speficit item at specific point
    2. remove()- it is used for removing specific item
    3. append()- it is used for adding a spefic item at the end of the list
    4. len()- it is used for measuring the length of list
    5. pop()- it is used for deleting the last item from the list
    6. clear()- it is used for clear the whole list

In [ ]:
# creating a heterogenious list named as 'a'

a = [1, 3, 5, 6, 7, [3, 4, 5], 'Hello']

# inserting number 20 at the 3rd position
a.insert(3, 20)
print(a)

# removing num 7 from the list
a.remove(7)
print(a)

# appending 'hi' in the list
a.append('hi')
print(a)

# find the length of list
len(a)
print(len(a))

# delete the last item from the list
a.pop()
print(a)

# delete the item on the 6th position
a.pop(6)
print(a)

# make clear all the list
a.clear()
print(a)

### Q2. To create a dictionary and perform operations on it.

operations :-
    1. print the dictionary items
    2. access items
    3. use get()
    4. change the values
    5. use len()

In [ ]:
#creating a dictionary named as 'b'

b = {'name' : 'Aish', 'Age' : 21, 'College' : 'DOT', 'Marital status' : 'Single'}

# printing all the key value pairs in dictionary
for i in b:
    print(i)
    
# accesing the value of specific key
b['name']
print(b['name'])

# use the get() function to get the specific value
n = b.get('Age')
print(n)

# to change the value of some key 
b['College'] = 'NCK'
print(b)

# to find the length of our dictionary
len(b)
print(len(b))

### Q3. To create the tuple and perform methods on it.

methods :-
    1. Add items in it
    2. check length of it
    3. cheking items in it
    4. accessing items in it

In [ ]:
# creating a tuple of name 'c'

c = (2, 4, 6, [11, 22, 33], 'False')

# check the length of our tuple
len(c)
print(len(c))

# to find whether the item belongs to tuple or not
2 in c
print(2 in c)
[11, 22, 33] not in c
print([11, 22, 33] not in c)

# to access the items in tuple
c[2:5]
print(c[2:5])

# to add the items in tuple....But tuple is immutable so it will throw error
c.add(9)

## Program 2

### Q1. To write a program that adds two numbers.
* A is first number
* B is second number

In [ ]:
A = input('enter the first number : ')
B = input('enter the second number : ')

C = int(A) + int(B)
print('A + B = ', C)

### Q2. To write a program for finding odd/even numbers.

In [ ]:
for i in range(10):
    if i%2 == 0:
        print('{} : The number is even.'.format(i))

    else:
        print('{} : The number is odd.'.format(i))

### Q3. Write a program for fiding the largest number among 3 given numbers.

* n1 : is first number
* n2 : is second number
* n3 : is third number

In [ ]:
n1 = int(input('first number :'))
n2 = int(input('second number :'))
n3 = int(input('third number :'))

N = list([n1, n2, n3])
N = sorted(N)

print('The largest number among given 3 numbers is : ', N[-1])

### Q4. To write a program to find the day of corresponding date

* 1 date for Monday
* 2 date for Tuesday
* 3 date for Wednesday
* 4 date for Thursday
* 5 date for Friday
* 6 date for Saturday
* 7 date for Sunday

In [ ]:
date = int(input('give the number between 1 to 7 : '))

if date == 1:
    print("It's a Monday today")
elif date == 2:
    print("It's a Tuesday today")
elif date == 3:
    print("It's a Wednesday today")
elif date == 4:
    print("It's a Thursday today")
elif date == 5:
    print("It's a Friday today")
elif date == 6:
    print("It's a Saturday today")
elif date == 7:
    print("It's a Sunday today")
else:
    print('You may have given wrong input')

## Program 3

### Q1. To create a menu by using the given options as follows
    1. To perform addition
    2. To perform substraction
    3. To perform multiplication
    4. To perform division

In [ ]:
def add(a,b):
    return a+ b
def sub(c,d):
    return c - d
def mul(e,f):
    return e*f
def div(g,h):
    return g/h

print('1. To perform Addition')
print('2. To perform Substraction')
print('3. To perform Multiplication')
print('4. To perform Division')

choice = int(input('Enter Your choice'))

if choice ==1:
    a = int(input('Enter the 1st value'))
    b = int(input('Enter the 2nd value'))
    print(add(a,b))
elif choice == 2:
    c = int(input('Enter the 1st value'))
    d = int(input('Enter the 2nd value'))
    print(sub(c,d))
elif choice == 3:
    e = int(input('Enter the 1st value'))
    f = int(input('Enter the 2nd value'))
    print(mul(e,f))
elif choice == 4:
    g = int(input('Enter the 1st value'))
    h = int(input('Enter the 2nd value'))
    print(div(g,h))
else:
    print('wrong choice')

### Q2. To write a program to check whether the string is palindrome or not

In [ ]:
def word(checking_word):
    a = checking_word[::-1]
    if checking_word == a:
        print(f'The word "{checking_word}" is palidrome')
    else:
        print(f'The word "{checking_word}" is not palidrome')
        

word('madam')

### Q3. To write a program to find the factorial of a given number

In [ ]:
def factorial(i):
    if i == 1:
        return(1)
    else:
        return( i * factorial(i-1))


a = factorial(5)
print(a)

### Q4. To define a function that compares two lists and tell is lists are same or not.

In [ ]:
a = [4, 5]
b = [4, 5, 6, 5]
def compare(a,b):
    if len(a) > len(b):
        c = len(b)
    elif len(a) == len(b):
        c = len(a)
    else:
        c = len(a)
        
        
    for i in range(c):
        if a[i]==b[i]:
            pass
        else:
            print('Two lists are not same')
            continue
    print('two lists are same')
    

    
    
compare(a,b)

## Program 4

### Q1. Using lambda function double the given number and make addition of two numbers.

In [ ]:
double = lambda x:2*x
print(double(4))

add = lambda x,y:x+y
print(add(5,6))

### Q2. To define a function that filter out only even numbers from the given list.

In [ ]:
a = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

def filter(a):
    for i in a:
        if i%2 == 0:
            print(f' {i} is even function')
        else:
            continue
            
            

filter(a)

### Q3. To write a progrm that doubles all the numbers from the given list.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 12, 13, 14, 16]

def map(a):
    for i in a:
        b = i*2
        print(f'the double of {i} is {b}')
              
              
map(a)

### Q4. Writing the program that adds all the elements in the list.

In [ ]:
a = [1, 2, 3, 4, 8]

def reduce(a):
    print(sum(a))
    
    
    
reduce(a)

## Program 5

### Q1. Write a program to implement abnormal termination.

In [ ]:
a = 5
b = 0

try :
    print(a/b)

except:
    print('bye')

### Q2. Write a programe to open a file and write 'Hello world' in it.

In [ ]:
with open('C:\\Users\\HP\\python\\data cleaning\\New Text Document.txt', 'w') as f:
    f.write('Hello world!!!!.....')

### Q3. Write a programe to write a content for a non - existing file.

In [ ]:
with open('C:\\Users\\HP\\python\\data cleaning\\Text Document.txt', 'w') as f1:
    f1.write('Hi python programmers........')

## Program 6

### Q1. Python code for checking the version of python.

In [ ]:
import sys
print('System version is :')
print(sys.version)
print('Version Information is :')
print(sys.version_info)

### Q2. Write a program to check the acess permissions acquired by a file using os module.

In [ ]:
import os

os.access('text', os.R_OK) # check for read acess

os.access('text', os.W_OK) # check for write acess

os.access('text', os.X_OK) # check for execution acess

os.access('text', os.F_OK) # check for existance acess

### Q3. To write a program for displaying a particular month of a year using calendar module.

In [ ]:
import calendar

yy = 2019
mm = 10

print(calendar.month(yy, mm))

### Q4. Program to print all the months in a given year.

In [ ]:
import datetime
import calendar

yy = 2022
mm = 10

print(calendar.calendar(2022))

## Program 7

### Q1. To write a program for getting date and time of today and now.

In [ ]:
import datetime 

a = datetime.datetime.today()
b = datetime.datetime.now()

print(a)
print(b)

### Q2. To write a program to add some days to a particular date and print the date added.

In [ ]:
from datetime import datetime, timedelta

particular_date = datetime(2022, 10, 28)
new_date = particular_date + timedelta(45)
print(new_date)

### Q3. To write program which accepts the radius of a circle from user and computes the area using math module.

In [ ]:
import math

r = float(input('Give the radius of circle = '))

area = math.pi *r *r

print(f'Area of a circle of radius {r} =', area)

## Program 8

### Q1. Program to create a package (college), sub-package (alldept), modules (it, cse) and create admin and cabin function to module.

In [ ]:
class College:

  def __init__(self, college):
    self.name = college['name']
    self.adress = college['adress']

  def get_college_info(self):
    return f"name: {self.name}\nadress: {self.adress}"


class alldept:

  def __init__(self, dept):
    self.department = alldept['department']
    
  def get_department_info(self):
    return f"Dept: {self.department}"

### Q2. Write a program to create a package (Engg), sub-package (years), modules(sem) and create staff and student function to module.

## Program 9

### Q1. Write a program to display welcome to MRCET by using classes and objects.

# Python problem solving 
**Assignment 3**

In [ ]:
import tkinter
from tkinter import *

In [ ]:
window = Tk()
# to rename the title of the window
window.title('GUI')
# pack is used to show the object in the window
label = tkinter.Label(window, text = 'Hello World!').pack()
window.mainloop()

In [ ]:
window = Tk()
l1 = Label(window, text = 'edureka!',font=('Arial Bold', 50))
l1.grid(column=0, row=0)
window.mainloop()

In [ ]:
window = Tk()
L1 = Label(window, text = 'edureka!', font = ('Arial Bold', 50))
window.geometry('350x200')
L1.grid(column=0, row=0)
window.mainloop()

In [ ]:
window = Tk()
l1 = Label(window, text = 'edureka!')
l1.grid(column=0, row=0)
bt = Button(window, text='Enter')
bt.grid(column=1, row=0)
window.geometry('300x300')
window.mainloop()

In [ ]:
window = Tk()
l1 = Label(window, text = 'edureka!')
l1.grid(column=0, row=0)
bt = Button(window, text='Enter', bg='red', fg= 'yellow')
bt.grid(column=1, row=0)
window.geometry('300x300')
window.mainloop()

In [ ]:
window = Tk()
window.title('edureka!')
window.geometry('300x300')
top_frame = tkinter.Frame(window).pack()
button_frame = tkinter.Frame(window).pack(side = 'bottom')

btn1 = tkinter.Button(top_frame, text='Button 1', fg = 'red').pack()
btn2 = tkinter.Button(top_frame, text='Button 2', fg = 'green').pack()
btn3 = tkinter.Button(top_frame, text='Button 3', fg = 'purple').pack(side='left')
btn4 = tkinter.Button(top_frame, text='Button 4', fg = 'maroon').pack(side='left')

window.mainloop()

In [ ]:
window = Tk()
window.title('EDUREKA!')

#creating 2 text labels and input labels

tkinter.Label(window, text = 'Username').grid(row=0) #this is placed in 0 0
# Entry is used to display the input-field
tkinter.Entry(window).grid(row=0, column =1) # this is placed in 0 1

tkinter.Label(window, text = 'Password').grid(row =1) # this is placed in 1 0
tkinter.Entry(window).grid(row=1, column=1) # this is placed in 1 1

# 'Checkbutton' is used to create the check button
tkinter.Checkbutton(window, text= 'Keep me logged IN').grid(columnspan =2) # 'columnspan' tell to take the widt of  2 , you can also use 'rowspan' in the similar
window.mainloop()

### Creating 'Entry' box

In [ ]:
window = Tk()
window.geometry('250x250')
txt = Entry(window, width = 10)
txt.grid(column = 1, row = 0)
def clicked():
    res = 'Welcome to' + txt.get()
    res.configure(text=res)
bt = Button(window,text = 'Enter', command = clicked)
bt.grid(column = 1, row=1)
window.mainloop()

### Creating 'Button content'

In [ ]:
import tkinter 
from tkinter import *

window = Tk()

window.title('GUI')
window.geometry('300x300')
#creating a function calling say_hi()
def say_Hi():
    tkinter.Label(window, text = 'Hi').pack()
    
tkinter.Button(window, text = 'Click Here', command = say_Hi).pack()
        
window.mainloop()

### Creating 'Button content' with multiple button options

In [ ]:
import tkinter

window = tkinter.Tk()
window.title('Edureka!')

# creating a functionwith an argument 'event'
def say_Hi(event):
    tkinter.Label(window, text = 'Hi').pack()
    
btn = tkinter.Button(window, text = 'Click Here')
btn.bind('<Button-1>', say_Hi)
btn.pack()
window.mainloop()

In [ ]:
import tkinter

window = tkinter.Tk()
window.title('Edureka!')
window.geometry('350x350')

# creating different function for a event
def left_click(event):
    tkinter.Label(window, text = 'Left click').pack()
    
def middle_click(event):
    tkinter.Label(window, text = 'Middle click').pack()
    
def right_click(event):
    tkinter.Label(window, text = 'Right click').pack()
    
window.bind('<Button-1>', left_click)
window.bind('<Button-2>', middle_click)
window.bind('<Button-3>', right_click)

window.mainloop()

### Adding image

In [ ]:
import tkinter

window = tkinter.Tk()
window = tkinter.Toplevel()
window.title('Github')
window.geometry('250x250')

# taking image from the directory amd storing the source in a variable
icon = tkinter.PhotoImage(file = 'C:\\Users\\HP\\Pictures\\resume\\download.png')
# doplaying the picture using a 'Label' by passing the picture variable to image parameter 
label = tkinter.Label(window, image = icon)
label.pack()

window.mainloop()

### Creating a Calculator

In [ ]:
from tkinter import *

# creating basic window
window = Tk()
window.geometry('312x312')
window.resizable(0,0)
window.title('Calculator')

######################################### functions ###########################################
# 'btn_click' function continuously updates the input field whenever you enters a number
def btn_click(item):
    global expression
    expression = expression + str(item)
    input_text.set(expression)
    
# 'btn_clear' function clears the input fields
def btn_clear():
    global expression
    expression = ''
    input_text.set('')
    
# 'btn_equal' calculates the expression present in input field
def btn_equal():
    global expression
    result = str(eval(expression)) # 'eval' function evalutes the string expression directly
    #you can also implement your own function to evaluate the expression listed of 'eval' function
    input_text.set(result)
    expression = ''
    
expression = ''
# 'StringVar()' is used to get the instance of input field
input_text = StringVar()

# creating a frame for the input field
input_frame = Frame(window, width = 312, height = 50, bd = 0, highlightbackground = 'black', highlightcolor = 'black', highlightthickness = 1)
input_frame.pack(side = TOP)

# creating a input field inside the 'Frame'
input_field = Entry(input_frame, font = ('arial', 18, 'bold'), textvariable = input_text, 
                    width = 50, bg = '#eee', bd = 0, justify = RIGHT)
input_field.grid(row=0, column=0)
input_field.pack(ipady = 10) # 'ipady' is internal padding to increase the height of input field

# creating another 'Frame' for the button below the 'input_frame'
btns_frame = Frame(window, width = 312, height = 272.5, bg = 'grey')
btns_frame.pack()

# first row
clear = Button(btns_frame, text = 'C', fg = 'black', width = 32, height = 3, bd = 0, bg = '#eee', 
               cursor = 'hand2', command = lambda:btn_clear()).grid(row = 0, column = 0, 
                                                                    columnspan = 3, padx = 1, pady = 1)
divide = Button(btns_frame, text = '/', fg = 'black', width = 10, height = 3, bd = 0, bg = '#eee', 
                cursor = 'hand2', command = lambda:btn_click('/')).grid(row = 0, column = 3, padx = 1, 
                                                                        pady = 1)

# second row
seven = Button(btns_frame, text = '7', fg = 'black', width = 10, height = 3, bd = 0, bg = '#fff', 
               cursor = 'hand2',
               command = lambda:btn_click(7)).grid(row = 1, column = 0, padx = 1, pady=1)
eight = Button(btns_frame, text = '8', fg = 'black', width = 10, height = 3, bd = 0, bg = '#fff', 
               cursor = 'hand2', 
               command = lambda:btn_click(8)).grid(row = 1, column = 1, padx = 1, pady=1)
nine = Button(btns_frame, text = '9', fg = 'black', width = 10, height = 3, bd = 0, bg = '#fff', 
              cursor = 'hand2', 
              command = lambda:btn_click(9)).grid(row = 1, column = 2, padx = 1, pady=1)
multipy = Button(btns_frame, text = '*', fg = 'black', width = 10, height = 3, bd = 0, bg = '#eee',
                 cursor = 'hand2', 
                 command = lambda:btn_click('*')).grid(row = 1, column = 3, padx = 1, pady=1)

# third row
four = Button(btns_frame, text = '4', fg = 'black', width = 10, height = 3, bd = 0, bg = '#fff', 
              cursor = 'hand2', 
              command = lambda:btn_click(4)).grid(row = 2, column = 0, padx = 1, pady=1)
five = Button(btns_frame, text = '5', fg = 'black', width = 10, height = 3, bd = 0, bg = '#fff', 
              cursor = 'hand2', 
              command = lambda:btn_click(5)).grid(row = 2, column = 1, padx = 1, pady=1)
six = Button(btns_frame, text = '6', fg = 'black', width = 10, height = 3, bd = 0, bg = '#fff', 
             cursor = 'hand2', 
             command = lambda:btn_click(6)).grid(row = 2, column = 2, padx = 1, pady=1)
minus = Button(btns_frame, text = '-', fg = 'black', width = 10, height = 3, bd = 0, bg = '#eee', 
               cursor = 'hand2', 
               command = lambda:btn_click('-')).grid(row = 2, column = 3, padx = 1, pady=1)

# fourth row
one = Button(btns_frame, text = '1', fg = 'black', width = 10, height = 3, bd = 0, bg = '#fff', 
             cursor = 'hand2', command = lambda:btn_click(1)).grid(row = 3, column = 0, padx = 1, pady=1)
two = Button(btns_frame, text = '2', fg = 'black', width = 10, height = 3, bd = 0, bg = '#fff', 
             cursor = 'hand2', command = lambda:btn_click(2)).grid(row = 3, column = 1, padx = 1, pady=1)
three = Button(btns_frame, text = '3', fg = 'black', width = 10, height = 3, bd = 0, bg = '#fff', 
               cursor = 'hand2', command = lambda:btn_click(3)).grid(row = 3, column = 2, padx = 1, pady=1)
plus = Button(btns_frame, text = '+', fg = 'black', width = 10, height = 3, bd = 0, bg = '#eee', 
              cursor = 'hand2', command = lambda:btn_click('+')).grid(row = 3, column = 3, padx = 1, pady=1)

# fifth row
zero = Button(btns_frame, text = '0', fg = 'black', width = 21, height = 3, bd = 0, bg = '#fff', cursor = 'hand2', command = lambda:btn_click(0)).grid(row = 4, column = 0, columnspan = 2, padx = 1, pady=1)
point = Button(btns_frame, text = '.', fg = 'black', width = 10, height = 3, bd = 0, bg = '#eee', cursor = 'hand2', command = lambda:btn_click('.')).grid(row = 4, column = 2, padx = 1, pady=1)
equals = Button(btns_frame, text = '=', fg = 'black', width = 10, height = 3, bd = 0, bg = '#eee', cursor = 'hand2', command = lambda:btn_equal()).grid(row = 4, column = 3, padx = 1, pady=1)

window.mainloop()

# Python problem solving 
**Assignment 4**

In [3]:
import pandas as pd

In [6]:
employees = pd.read_csv('C:\\Users\\HP\python\\employee.csv')

In [7]:
employees

   id       name  title_id  years  department_id
0   2      clvis         1     15              2
1   6      sandy         2      5              7
2   7  christine         1      5              4
3  12      aaron         3      3              3

In [8]:
employees = employees.set_index('id')

In [9]:
employees

         name  title_id  years  department_id
id
2       clvis         1     15              2
6       sandy         2      5              7
7   christine         1      5              4
12      aaron         3      3              3

In [10]:
titles = pd.read_csv('C:\\Users\\HP\\python\\title.csv')

In [11]:
titles

  Unnamed: 0           name
0         id            NaN
1          1      President
2          2  Lead Engineer
3          3         Intern

In [18]:
titles = titles.drop('Unnamed: 0', axis = 1)

In [19]:
employees.join(titles, rsuffix = '_title')

         name  title_id  years  department_id     name_title
id
2       clvis         1     15              2  Lead Engineer
6       sandy         2      5              7            NaN
7   christine         1      5              4            NaN
12      aaron         3      3              3            NaN

In [24]:
empl_with_title = employees.join(titles, on = [ 'title_id'], rsuffix = '_title')

In [21]:
departments = pd.read_csv('C:\\Users\\HP\\python\\department.csv')

In [22]:
departments

  Unnamed: 0               name
0         id                NaN
1          1              sales
2          2            product
3          3  technical support
4          4    human resources

In [23]:
departments = departments.drop('Unnamed: 0', axis = 1)

In [25]:
empl_with_title.join(departments, on = ['department_id'], rsuffix = '_dept')

,name,title_id,years,department_id,name_title,name_dept
id,,,,,,
2,clvis,1,15,2,President,product
6,sandy,2,5,7,Lead Engineer,NaN
7,christine,1,5,4,President,human resources
12,aaron,3,3,3,Intern,technical support

In [26]:
empl_with_title.join(departments, on = ['department_id'], how = 'inner', rsuffix = '_dept')

         name  title_id  years  department_id name_title          name_dept
id
2       clvis         1     15              2  President            product
7   christine         1      5              4  President    human resources
12      aaron         3      3              3     Intern  technical support

In [27]:
empl_with_title.join(departments, on = ['department_id'], how = 'right', rsuffix = '_dept')

           name  title_id  years  department_id name_title          name_dept
NaN         NaN       NaN    NaN              0        NaN                NaN
NaN         NaN       NaN    NaN              1        NaN              sales
2.0       clvis       1.0   15.0              2  President            product
12.0      aaron       3.0    3.0              3     Intern  technical support
7.0   christine       1.0    5.0              4  President    human resources